.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.crystal{
    border:10px solid blue;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 5px rgba (0,0,0,0.5);
    transition: box-shadow 1s transform 1s;
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transform: translate(5px,20px);
    cursor: pointer;
    transition: box-shadow 1s transform 1s;
}

img{
    width: 20px;
}